<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="PurchaseMapper">
 	<!--  -->
 	
	<resultMap id="purchaseSelectMap" type="purchase">
		<result property="tranNo" column="tran_no" jdbcType="NUMERIC"/>
		<result property="paymentOption"	column="payment_option" jdbcType="VARCHAR" />
		<result property="receiverName" 	column="receiver_name" 	jdbcType="VARCHAR" />
		<result property="receiverPhone" 	column="receiver_phone" jdbcType="VARCHAR" />
		<result property="divyAddr" 	 	column="demailaddr" 	jdbcType="VARCHAR" />
		<result property="divyRequest" 		column="dlvy_request" 	jdbcType="VARCHAR" />
		<result property="tranCode" 		column="tran_status_code" 	jdbcType="VARCHAR" />
		<result property="orderDate" 		column="order_data" 	jdbcType="DATE"  />
		<result property="divyDate" 		column="dlvy_date" 		jdbcType="DATE" />	
		<result property="buyer.userId" 	column="buyer_id" 		jdbcType="VARCHAR"  />
		<result property="purchaseProd.prodNo" 		column="prod_no" 		jdbcType="NUMERIC" />
	</resultMap>
	
	<!-- SQL : INSERT -->
	<insert id="insertPurchase" parameterType="purchase" >
	 	INSERT
		INTO transaction(tran_no, payment_option, receiver_name, receiver_phone ,demailaddr, dlvy_request,
						tran_status_code,order_data,dlvy_date, buyer_id, prod_no) 
		VALUES	 ( seq_product_prod_no.NEXTVAL, #{paymentOption}, #{receiverName}, #{receiverPhone},
				#{divyAddr}, #{divyRequest}, #{tranCode}, SYSDATE ,#{divyDate}, #{buyer.userId}, #{purchaseProd.prodNo} )
	 </insert>
	 
	<!-- SQL :  -->
	 <!-- SQL : SELECT ONE -->
	 <select 	id="getPurchase"	parameterType="purchase"	resultMap="purchaseSelectMap"> 
		select * from transaction where tran_no=#{purchase.tranNo}
	 </select>

	 <update	id="updatePurchase"	parameterType="purchase" >
	   	UPDATE transaction
	   	<set>
	   		payment_option 		= #{paymentOption} ,
			receiver_name		= #{receiverName},
			demailaddr 	        = #{divyAddr} ,
			receiver_phone		= #{receiverPhone},
			dlvy_request		= #{divyRequest},
			dlvy_date			= #{divyDate}
	   	</set>
	   	WHERE tran_no = #{tranNo}
	 </update>
		
	  <update	id="updateTranCodeByProd"	parameterType="Map" >
	   	UPDATE transaction
	   	<set>
	   		<!--tran_status_code = #{tranCode}-->
	   		tran_status_code = #{tranCode}
	   	</set>
	   	WHERE prod_no = #{prodNo}
	 </update>

	  <update	id="updateTranCode"	parameterType="purchase" >
	   	UPDATE transaction
	   	<set>
	   		tran_status_code = #{tranCode}
	   	</set>
	   	WHERE tran_no = #{tranNo}
	 </update>
	 
	 <select  id="getPurchaseList"  parameterType="Map"	resultMap="purchaseSelectMap">
	  	SELECT *
	  	FROM (	SELECT inner_table.* , ROWNUM AS row_seq
	  					FROM		(	SELECT *
											FROM transaction
											WHERE buyer_id = #{userId} ) inner_table
						WHERE ROWNUM &lt;= #{search.endRowNum} )
		WHERE row_seq BETWEEN #{search.startRowNum} AND #{search.endRowNum} 
	 </select>
	 
	  <select  id="getTotalCount"  parameterType="string"	 resultType="int">
	  	SELECT COUNT(*)
	  	FROM(	SELECT *
						FROM transaction
							WHERE buyer_id = #{userId}	
						 ) countTable						
	 </select>
	 
</mapper>